<h1><%= sanitize(@offer.title) %></h1>
<p><%= sanitize(@offer.description) %></p>
<p>Price: <%= number_to_currency(@offer.price) %></p>

<%= link_to 'Book this offer', new_offer_booking_path(@offer), class: 'btn btn-primary' %>


